
body{
    margin: 10px;
    padding: 0;
    background-image: url("corazon.gif");
    background-repeat: repeat;
    padding: 10px;
    border: none;
    background-attachment: fixed;
  }
  /*Fuentes*/
  @font-face {
    font-family: 'Fuente';
    src: url(The\ Whisker.ttf);
  }
  @font-face {
    font-family: 'Fuente2';
    src: url(OldNewspaperTypes.ttf);
  }
  @font-face {
    font-family: 'Fuente3';
    src: url(typewcond_regular.otf);
  }
  
  
  /*textos principales*/
  p{
    background-color: rgba(252, 141, 196, 0.7);
    font-family: 'Fuente3';
    font-size: 20px;
    margin: 8px;
    padding: 15px;
    border: 1px dashed #ff0080;
    border-radius: 10px;
  }
  h2{
    color: #ff0062;
    letter-spacing: 8px;
    font-family: 'Fuente2';
    font-size: 30px;
    margin-bottom: 0px
  }
  ul{
    background-color: rgba(252, 141, 196, 0.7);
    font-family: 'Fuente3';
    font-size: 20px;
    margin: 8px;
    padding: 15px;
    border: 1px dashed #ff006a;
    border-radius: 10px;
    list-style-type: none;
    text-align: left;
    padding-left: 50px;
  }
  /*div con class*/
  .title{
    text-align: center;
    font-size: 30px;
    color: #ff0055;
    letter-spacing: 15px;
    font-family: 'Fuente';
  }
  .title h1{
      margin-bottom: 0px;
  }
  .subt {
    font-family: 'Fuente2';
    font-size:20px;
    color: #ff006a;
    padding-bottom: 30px;
  }
  /*div con id*/
  #foto{
    padding-top: 17px;
  }
  .marco{
    border-radius: 10px;
    width: 150px;
  }
  
  #derecha{
    border-top: 25px;
    float: right;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    background-color: rgba(179, 151, 255, 0.7);
    min-height: 70vh;
  }
  
  #izquierda{
    border-top: 25px;
    float: left;
    text-align: center;
    width: 73%;
    border-radius: 10px;
    background-color: rgba(179, 151, 255, 0.7);
    min-height: 70vh;
  }
  
  .boton p1{
      font-family: 'Fuente2';
      color: #ff0055;
  }
  .boton button{
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #ff0055;
    background-color: rgba(179, 151, 255, 0.7);
    border-radius: 10px;
    border:none;
    font-family: 'Fuente2';
    margin-top: 20px;
    margin-bottom: 45px;
  }